<div class="intro">
    <strong>Your Question: <%= @the_decision.name.strip().capitalize %></strong>
</div>

<div class="intro">
  <strong>Your Answer:<strong>
  <h1><%= @option_scores.first[0].name.strip().capitalize %></h1>
</div>

<div class="intro">
  <% if @show_top_3 %>
    <!-- Show the top 3 options -->
    <% @option_scores.each_with_index do |option_score, index| %>
      <div class="option <%= index == 0 %>">
        <p><%= index + 1 %>. <%= option_score[0].name.strip().capitalize %> | Score = <%= option_score[1] %> </p>
      </div>
    <% end %>
  <% else %>
    <!-- Show the link to view top 3 options -->
    <div class="view-top-3">
      <%= link_to "View Top 3 Options", { :controller => "decisions", :action => "answer", :path_id => @the_decision.id, :show_top_3 => true } %>
    </div>
  <% end %>
  <a href="/" class="cta"> Make another decision! </a>
</div>
