<div>
  <div>
    <h1>
      Ask Ben - Step 5
    </h1>
    <h3>
      My Question: <%= @the_decision.name %>
    </h3>
    <h3>
      Now, score each option based off of the criteria you created (1 is a low score, 5 is a high score)
    </h3>
    <p> Quick hint: if price is your criteria, for a high price you would give it a lower score </p>
  <div>

  <table border="1">
    <thead>
      <tr>
        <th>Options</th>
        <% @criteria.each do |c| %>
          <th><%= c.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
          <% @options.each do |a_option| %>
        <tr>
          <td><%= a_option.name %></td>
          <% @criteria.each do |a_criteria| %>
          
            <td>
              <form action="/insert_score" method="post">
                <input type="hidden" name="query_criteria_id" value="<%= a_criteria.id %>">
                <input type="number" name="query_score" value="0" min="1" max="5">
                <input type="hidden" name="query_decision_id" value="<%= a_criteria.decision_id %>">
                <input type="hidden" name="query_option_id" value="<%= a_option.id %>">
                <button>
                  Create Score
                </button>
              </form>
            </td>
          <% end %>
        </tr>
      <% end %>
      
    </tbody>
  </table>
