<div class="intro">
    <strong>Your Question: <%= @the_decision.name.strip().capitalize %></strong>
</div>

<div class = "introoo">
    <p class="pnormal">Now, score each option based off of the criteria you input as important</p>
    <p class="psmall">Putting a 5 means that option ranks high in this criteria. To help gather accurate answers, there should be at most 1 "5" score per criteria and 1 "1". (Create each score first before Getting your Answer)</p>

  <table border="1" class="table">
    <thead>
      <tr>
        <th class="th">Options</th>
        <% @criteria.each do |c| %>
          <th class="th"><%= c.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
          <% @options.each do |a_option| %>
        <tr>
          <td class="th"><%= a_option.name %></td>
          <% @criteria.each do |a_criteria| %>
            <% the_score = Score.where({ :criteria_id => a_criteria, :option_id => a_option }).at(0) %>
              <% if the_score %>
                <td>
                  <form action="/modify_score/<%= the_score.id %>" method="post">
                    <input type="hidden" name="query_criteria_id" value="<%= a_criteria.id %>">
                    <input type="number" name="query_score" value="<%= the_score.score %>" min="1" max="5">
                    <input type="hidden" name="query_decision_id" value="<%= a_criteria.decision_id %>">
                    <input type="hidden" name="query_option_id" value="<%= a_option.id %>">
                    <button>
                      Edit Score
                    </button>
                  </form>
                </td>
              <% else %>
                <td>
                  <form action="/insert_score" method="post">
                    <input type="hidden" name="query_criteria_id" value="<%= a_criteria.id %>">
                    <input type="number" name="query_score" value="0" min="1" max="5">
                    <input type="hidden" name="query_decision_id" value="<%= a_criteria.decision_id %>">
                    <input type="hidden" name="query_option_id" value="<%= a_option.id %>">
                    <button>
                      Create Score
                    </button>
                  </form>
                </td>
              <% end %>
            <% end %>
      </tr>
      <% end %>
      
    </tbody>
  </table>

  <a href="/decisions_answer/<%= @the_decision.id.to_s.strip %>" class="cta">
    Get Answer!
  </a>

  </div>
