<div>
  <div>
    <h1>
      Decision #<%= @the_decision.id %> details
    </h1>

    <div>
      <div>
        <a href="/decisions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_decision/<%= @the_decision.id %>">
          Delete decision
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_decision.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_decision.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_decision.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit decision
    </h2>

    <form action="/modify_decision/<%= @the_decision.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_decision.name %>">
      </div>

      <button>
        Update decision
      </button>
    </form>
  </div>
</div>

<hr>
