<div>
  <div>
    <h1>
      Ask Ben - Step 4
    </h1>

    <h3>
      My Question: <%= @the_decision.name %>
    </h3>

    <h3>
      Weigh the importance of each Criteria (1 = not important. 5 = extremely important)
    </h3>

    <div>
  <div>
    <table border="1">
      <tr>
        <th>Criteria</th>
        <th>Weight</th>
      </tr>
      <% @the_decision.criteria.each do |a_criterium| %>
        <tr>
          <td>
            <%= a_criterium.name %>
          </td>

          <td>
            <form action="/modify_criterium/<%= a_criterium.id %>" method="post">
              <input type="hidden" name="path_id" value="<%= a_criterium.id %>">
              <input type="number" name="query_weight" value="<%= a_criterium.weight %>" min="1" max="5">
              <input type="hidden" name="query_decision_id" value="<%= a_criterium.decision_id %>">
              <input type="hidden" name="query_name" value="<%= a_criterium.name %>">
              <input type="submit" value="Weigh">
            </form>
          </td>
        </tr>
      <% end %>
    </table>

  <form action="/decisions_scores/<%= @the_decision.id.to_s.strip %>"> 
      <button>
        One more step
      </button>
  </form>
