<div>
  <div>
    <h1>
      Ask Ben - Step 4
    </h1>

    <h3>
      My Question: <%= @the_decision.name %>
    </h3>

    <h3>
      Weigh the importance of each Criteria (1 = not important. 5 = extremely important)
    </h3>

    <div>
  <div>
    <table border="1">
      <tr>
        <th>Criteria</th>
        <th>Weight</th>
      </tr>
      <% @the_decision.criteria.each do |a_criterium| %>
        <tr>
          <td>
            <%= a_criterium.name %>
          </td>

          <td>
              <%= form_tag("/modify_criterium/#{a_criterium.id}", method: :post) do %>
              <%= hidden_field_tag :path_id, a_criterium.id %>
              <%= number_field_tag :query_weight, a_criterium.weight, in: 1..5 %>
              <%= hidden_field_tag :query_decision_id, a_criterium.decision_id %>
              <%= hidden_field_tag :query_name, a_criterium.name %>
              <%= submit_tag "Weigh" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  <form action="/decisions_scores/<%= @the_decision.id.to_s.strip %>"> 
      <button>
        One more step
      </button>
  </form>
